/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items:center;
  padding: 92px 50px 96px;
}
.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}
.header__link_active .link {
  text-decoration: none;
}
.header__links-list .header__links-list-item_no-bullit {
  list-style: none;
}
.link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit .link {
  letter-spacing: normal;
}
.header__logo {
  height: 105px;
}
.header__logo-image {
  height: 100%;
}
.address {
  display: flex;
  flex-direction: column;
}
.header__address {
  justify-self: end;
  width: 240px;
 }
.address .link {
  line-height: 1.35;
}
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  height: 100%;
  opacity: 0.6;
  background: #000;
}
.cover__title {
  z-index: 1;
  width: 100%;
  padding: 165px 50px 0;
  letter-spacing: 0.3em;
}
.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
 }
.aligned-text_center {
  display: block;
  line-height: 1.40;
  letter-spacing: 0.3em;
  text-align: center;
}
.aligned-text_right {
  display: block;
  line-height: 1;
  letter-spacing: 0.3em;
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 135px 50px 51px 78px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 0.8em;
}
.span__cover__description-text {
  letter-spacing: 1.1em;
}
.bet-button {
  width: 256px;
  border: 1px solid #fff;
  padding: 12px 0 11px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.lots {
padding: 179px 24px 148px;
}
.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  list-style: none;
}
.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 50px 40px 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.span__card__text {
  letter-spacing: 0.13em;
}
.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
}
.about {
  padding: 0 30px 181px 23px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
}
.about__logo_center {
  padding: 34px 0 0 47px;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 240px;
  border-radius: 50%;
  background-color:#000;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__text {
  display: grid;
  grid-column: 2 / 3;
  gap: 24px;
  color: #000;
}
.about__title {
  padding-top: 133px;
  padding-bottom: 75px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 88px;
}
.footer__menu {
  justify-self: center;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}
.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  grid-column: -1 / -2;
  justify-content: end;
  gap: 48px;
  color:#000;
  list-style: none;
}
.footer__social-list-item {
  height: 48px;
}
.footer__social-icon {
  height: 100%;
}